table{
    width: 100%;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 5px;
}

th{
    background: blue;
    color: #fff;
}

#celda1-1{
    background: green;
    color: #fff;
    text-align: center;
}
