@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Noto+Sans+JP:wght@300&family=Roboto:wght@100&display=swap');

.navbar{
    background: black;
    width: 100%;
    padding: .1rem;
    position: fixed;
    top: 0;
}

ul{
    display: flex;
    /* justfy-content: space-between; */
}

li{
    list-style: none;
    width: 100%;
    font-size: 23px;
    padding: 1px;
}

li a{
    text-decoration: none;
    margin: 1rem;
    color: red;
}

li:hover{
    background: black;
    color: white;
    cursor: pointer;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.first-table{
    margin-top: 8rem;
}

.second-table{
    margin-top: 8rem;
}

.third-table{
    margin-top: 8rem;
}

.fourth-table{
    margin-top: 8rem;
}

#desc-goku{
    font-family: 'Bebas Neue', cursive;
}

#desc-vegeta{
    font-family: 'Lobster', cursive;
}

#desc-picolo{
    font-family: 'Noto Sans JP', sans-serif;
}

#desc-majinboo{
    font-family: 'Roboto', sans-serif;
}