.container{
    width: 600px;
    height: 600px;
    color: white;

}

.div1{
    width: 64.5%;
    background-color: green;
    float: left;
    height: 90px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.div2{
    height: 90px;
    background-color: blue;
    margin-bottom: 10px;
    width: 33%;
    float: right;

}

.div3{
    float: left;
    width: 33%;
    background-color: black;
    height: 190px;
    margin-bottom: 10px;
}

.div4{
    float: left;
    width: 30%;
    background-color: red ;
    height: 190px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.div5{
    background-color: salmon;
    height: 90px;
    margin-bottom: 10px;
    width: 33%;
    float: right;
}

.div6{
    float: right;
    height: 90px;
    margin-bottom: 10px;
    background-color: black ;
    width: 33%;

}

.div7{
    width: 64.5%;
    background-color: green;
    float: left;
    height: 90px;
    margin-bottom: 10px;

}

.div8{
    height: 190px;
    margin-bottom: 10px;
    width: 33%;
    float: right;
    background-color: blue;
}

.div9{
    width: 64.5%;
    background-color: green;
    height: 90px;
    margin-bottom: 10px;
    float: left;

}


.div10{
    width: 30%;
    background-color: grey;
    float: left;
    height: 100px;
    margin-right: 10px;

}

.div11{
    width: 32%;
    background-color: yellow;
    float: left;
    height: 100px;
    margin-right: 10px;


}

.div12{
    width: 33%;
    background-color: brown;
    float: left;
    height: 100px;
    margin-left: 10px;
}
